
/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    max-width: 90%;
    max-height: 85%;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

body.modal-open header {
    display: none;
}
body.modal-open {
    overflow: hidden; /* prevents background scrolling */
}

